.teamp-con .each-team-memb{
    margin: 40px;
    width: 200px;
    grid-row: span 2s;
}
h2{
    border-color: white;
}

    .teamp-con{
        flex-direction: row;
        
    }
    .teamp-sec{
        flex-direction: column;
    }
    .teamp-con-p{
        min-width: 100%;
    }
    .teamp-con{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }